.bloop
.bsp
.idea
.metals
.vscode
/project/project
metals.sbt
/project/.*
**/target
target
*.db
*.crt
*.jks
*.csr
*.p12
password
closure-compiler-v20221004.jar
game-engine/core/jvm/src/main/resources
game-engine/assets/sound/lunarosa.wav
game-engine/core/jvm/src/main/resources/break-broke/index.html
